spring:
  profiles:
    active: dev
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/edutech_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  data:
    redis:
      repositories:
        enabled: false

app:
  jwt:
    secret: ${JWT_SECRET:1234567890123456789012345678901234567890123456789012345678901234}
    access-expiry-seconds: 1800

server:
  port: 8080
