spring:
  profiles:
    active: dev
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/edutech_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  data:
    redis:
      repositories:
        enabled: false

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:5173}
  jwt:
    secret: ${JWT_SECRET}
    access-expiry-seconds: 1800
  registration:
    company-invitation-code: ${COMPANY_INVITATION_CODE:}
    admin-invitation-code: ${ADMIN_INVITATION_CODE:}

server:
  port: 8080
